#formButton {
    background: linear-gradient(45deg, black, red);  
    font-weight: bold;  
    text-shadow: 1px 1px 1px black;     
}


/*Media query to resize h1 at max-width of 575px*/
@media only screen and (max-width: 575px) {
    .form-control-lg {
        max-width: 95%;
        margin: 20px 0 0 9px;
    }
    #formButton {
        margin-left: 145px;
    }
}