.navbar {
    background: linear-gradient(45deg, black, red); 
    text-shadow: 1px 1px 1px black;      
}

#brand {
    color: #ffffff;
}

#links > .nav-link {
    color: #ffffff;
}

#links > .nav-link:hover {
    text-decoration: underline;
}

