.jumbotron {   
    background-image:url('./Img/pexels-wendy-van-zyl-1112048.jpg'); 
    height: 50vh;       
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    position: relative; 
    font-family: 'Audiowide', cursive;
    letter-spacing: 3px;  
    box-shadow: -10px 10px 10px #555;          
}

/*Media query to resize h1 at max-width of 575px*/
@media only screen and (max-width: 575px) {
    #jTronH1 {
        font-size: 45px;
    }
}