#jumbotronColor {
    background-color: lightsteelblue;
}

.display-4 {
    font-family: arial,sans-serif;
    color: #2196F3;
    text-shadow: 2px 2px 5px white;    
}

#lead {
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 5px white; 
    
}