.card-body {
    width: 540px;
}

img {
    width: 200px;
    height: 200px;
}

#pCard {
    font-size: 12px;
}

a.badge-pill {
    background-color: deepskyblue;
    color: white;   
}

a.badge-pill:hover {
    background-color:#2196F3;
    color: white;   
}

button.badge-pill {
    background-color: deepskyblue;
    color: white;   
}

button.badge-pill:hover {
    background-color:#2196F3;
    color: white; 
}