/* Card margin top and bottom margin*/
.card {
    margin: 22px;               
}

/* Card image height */
.card > .card-img-top {
    height: 200px;
}

.card-title {
    font-weight: bold;
    text-decoration: underline;
}

.card-footer {
    background: linear-gradient(45deg, black, red);
}

/* Card buttons */
button.btn.btn-link {
    color: #ffffff;
    font-weight: bold;    
    margin-right: 5px;
    text-shadow: 1px 1px 1px black;   
}


